@font-face {
    font-family: grobold;
    src: url('/fonts/grobold.ttf');
    font-size: normal;
    font-weight: normal;
}    

.b-login{
    background-color: #000011;
    margin: 0;
}

.form{
    width: 400px;
    height: 900px;
    margin: auto;
    padding-top: 45px;
}

.card{
    box-shadow: 3px 3px 5px #bbbbe6;
    background-color: #7d94fd;
    padding: 30px;
    border-radius: 10px;

}
.card-top{
    text-align: center;
    
}
.imglogin{
    border-radius: 50px;
    height: 100px;
    width: 100px;

}
.title{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 0px;
    color: #b412b9;
    font-family: grobold, Arial, sans-serif;
    font-size: 30px;
    letter-spacing: 2px;

}

.text1{
    margin-top: 15px;
    margin-bottom: 10px;
    color:#b412b9;
    font-family: Arial black, Helvetica, sans-serif;
    font-size: 15px;
}
.cardgroup{
   margin-bottom: 10px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

.cardgroup > label{
    width: 100%;
    color:black;
    display: block;
    text-align: center;
    align-self: center;

}
.cardgroup > input{
    border-radius: 10px;
    outline: 0;
    width: 100%;
    height: 25px;
}

.btn{
    background-image: linear-gradient(to left, #0a0202, hsl(268, 98%, 20%));
    width: 100%;
    border-radius: 15px;
    color: #9c03a1;
    height: 40px;
    font-family: grobold;
    letter-spacing: 2px;
    font-size: 25px;
    align-self: center;

}
.btn:hover{
    background-image: linear-gradient(to left,  hsl(268, 98%, 20%), #0a0202);

}
footer {
    font-family: 'Gill Sans bold', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
	background-color: #7d94fd;
	color: #0306d4;
	position: fixed;
	text-align: center;
    bottom: 1px;
    border-radius: 40px;
	
}