:root{
    --Letras:#b003b6;
    --fundo:#000011;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: grobold;
    src: url('/fonts/grobold.ttf');
    font-size: normal;
    font-weight: normal;
}    
@font-face {
    font-family: irish;
    src: url('/fonts/IrishGrover-Regular.ttf');
    font-size: normal;
    font-weight: normal;
}

/*elementos base*/
body{
    background: var(--fundo);
    font-family: 'Times New Roman', Times, serif;
    color: mintcream;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;  
    justify-content: content-position left;
    
}
header .logo{
    letter-spacing: 2px;
    margin-left: 5px;
    color: var(--Letras);
    font-family: grobold, "Arial Black";
    font-size:40px;
}

header nav a{
    text-decoration: none;
    text-align: left;
    color: mintcream;
    margin-left: 25px;
    margin-right:10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

header nav a:hover{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--Letras);
}
/*Filme capa*/
.filme-capa{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)), url('/img/soul2.jpg');

    height: 450px;
    background-size:cover;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start; 

}
.filme-capa .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}
.filme-capa .titulo{
    margin-top: 15%;
    font-size: 70px;
    font-family: irish;
}
.botao{
    background-color: rgba(7, 6, 6, 0.5);
    border: none;
    color: mintcream;

    padding: 15px 25px;
    margin-right: 15px;
    font-size: 16px;

    cursor: pointer;
    transition: .3s ease all;
}
.botao:hover{
    background-color: var(--Letras);
    border-radius: 10px;  
}
.botao i{
    margin-right: 5px;  
}
.container{
    margin-left: 20px;
}
.filme-capa .container{
    width: 75%;
}
.box-film{
    height: 100%;
    width: 100%;
    display: block;
    margin-top:10px;   
}
    
.cat-h2{
    font-family: grobold;
    color:var(--Letras);
    letter-spacing: 2px;
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 25px;
}
.btn-1{
    text-decoration: none;
    color: mintcream;
}

footer {
    font-family: 'Gill Sans bold', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 400px;
	background-color: #7d94fd;
	color: #0306d4;
	position: fixed;
	text-align: center;
    bottom: 1px;
    border-radius: 40px;
	
}